.value-input {
    width: 50px;
    height: 30px;
    border-radius: 24px;
    border: 1px solid var(--color-text);
    text-align: center;
    transition: border 0.3s ease;
    outline: none;
}

.value-input:focus {
    outline: none;
    border-color: var(--color-primary);
}