:root {
    --color-primary: #005cfd;
    --color-text: #000000;
    --color-background: #fdfdfd;
    --color-stroke: #ecf1f4;
    --color-toggle-bg: #ebeff2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100%;
    width: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

@media (orientation: portrait) {
    .main-container {
        flex-direction: column;
    }
}
@media (orientation: landscape) {
    .main-container {
        flex-direction: row;
    }

}

.block {
    width: 100%;
    height: 100%;
    border: 1px dashed black;
}

.progress-container, .actions-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress-container.hidden{
    display: none;
}


.action-row {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}
.first-column, .second-column {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.first-column {
    justify-content: end;
}
