.progress-circle {
    width: 100%;
    height: 100%;
    rotate: -90deg;
}

.progress-bg {
    fill: none;
    stroke: var(--color-stroke);
    stroke-width: 12;
}

.progress-line {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 12;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 0.5s ease;
}

.progress-line.animated {
    transform-origin: 50% 50%;
    animation: spin 3s linear infinite;
}

.progress-circle.hidden{
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /*stroke-dashoffset: 440;*/
    }
    100% {
        transform: rotate(360deg);
        /*stroke-dashoffset: -440;*/
    }
}
